#logo {
  margin-left: 20px;
}
#fotoinsta,
#fotofb {
  float: right;
  margin: 20px;
}
#contact {
  text-align: center;
}
#email,
#number {
  margin-left: 70px;
  font-size: xx-large;
  margin-top: 70px;
}
#inemail {
  float: right;
}
#inmessage {
  float: right;
}
#email1,
#message1 {
  float: right;
  margin-right: 100px;
  margin-bottom: 30px;
}
#maps {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 30px;
}
